const { getHTML } = require("../handlers/optionHandler"); const { getReadme } =
require("../handlers/infoHandler"); const { getOutput } =
require("../handlers/outputHandler"); const CardDetails = <%-
JSON.stringify(CardConfig) %> function handleInstall(instance) {
instance.CardDetails = CardDetails; } exports.id =
CardDetails.NAME.toLowerCase(); exports.readme = getReadme(CardDetails);
exports.title = CardDetails.NAME.toUpperCase(); exports.group = "ORIGA_CARDS";
exports.output = getOutput(CardDetails); exports.icon = CardDetails.ICON;
exports.html = getHTML(CardDetails); exports.install = handleInstall;
exports.color = "#" + CardDetails.COLOR; exports.input = 1;
