{
  "tabs": [
    {
      "id": "<%= Workflow.WorkflowId %>",
      "name": "<%= Workflow.WorkflowName %>",
      "icon": "fa-object-ungroup",
      "linker": "main",
      "index": 0
    }
  ],
  "components": [
    {
      "id": "1562924410270",
      "component": "end",
      "tab": "<%= Workflow.WorkflowId %>",
      "name": "END",
      "x": 708,
      "y": 79,
      "connections": {},
      "disabledio": {
        "input": [],
        "output": []
      },
      "state": {
        "text": "",
        "color": "gray"
      },
      "options": {},
      "color": "#000000",
      "notes": ""
    },
    {
      "id": "1562924412509",
      "component": "start",
      "tab": "<%= Workflow.WorkflowId %>",
      "name": "START",
      "x": 69,
      "y": 61,
      "connections": {},
      "disabledio": {
        "input": [],
        "output": []
      },
      "state": {
        "text": "",
        "color": "gray"
      },
      "options": {
        "WorkflowName": "<%= Workflow.WorkflowName %>",
        "Menu": "<%= Workflow.Menu %>"
      },
      "color": "#0000FF",
      "notes": ""
    }
  ],
  "version": 600
}
